<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="game recommendation site">
    <meta name="keywords" content="game, content, recommendation">
    <meta name="robots" content="All">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MaruLatte">
    <meta property="og:description" content="game recommendation site">
    <meta property="og:image" content="../../../resources/images/main/main.png">
    <meta name="twitter:card" content="card">
    <!-- <meta property="og:url" content=""> -->
    <meta property="og:site_name" content="MaruLatte">
    <link rel="apple-touch-icon" sizes="57x57" href="../../../resources/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../resources/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../resources/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../resources/images/favicon/">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../resources/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../resources/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../resources/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../resources/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../resources/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../../resources/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../resources/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../../resources/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../resources/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../resources/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#F5C518">
    <meta name="msapplication-TileImage" content="../../../resources/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#F5C518">

    <title>MaruLatte</title>
    <link rel="stylesheet" href="../../../resources/stylesheet/style.css">
</head>
<body>
    <!-- header start -->
    <header id="header">
        <div class="header-wrap">
            <h1 class="logo">
                <a href="./index.html">
                    <img src="../../../resources/images/main/logo.png" alt="marulatte-logo">
                </a>
            </h1>
            <button type="button" class="menu--btn">menu</button>
            
            <!-- search form -->
            <form action="#" method="GET" id="search-form">
                <label for="search-input" class="hd">search</label>
                <input id="search-input" type="text" placeholder="Search Game">
            </form>
            
            <!-- 로그인한 사용자 인사 코멘트-->
            <p>Maru Hello</p>

            <!-- 로그인 유저 Logout, 비로그인 유저 Login 출력 -->
            <button type="button" id="login-btn">LogOut</button>
        </div>
    </header>
    <!-- header end -->
    <main id="main">
        <div class="main-wrap">
            <!-- main slide start -->
            <section id="slide">
                <a href="#"class="slide-main-img">
                    <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                </a>
                <div class="slide-r">
                    <h2>Up Next</h2>
                    <div class="slide__box">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                    </div>
                    <a href="#">All Game</a>
                </div>
            </section>
            <!-- main slide end -->
            <!-- recommendation slide start -->
            <section id="rec-slide">
                <h2 class="section__title">Recommendation</h2>
                <button class="section--prev-btn" type="button" id="rec-prev--btn"></button>
                <div class="rec-slide__box">
                    <!-- rec slide card -->
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>
                            <p>Ori and the blind forest</p>
                        </caption>
                    </div>
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>
                            <p>Ori and the blind forest</p>
                        </caption>
                    </div>
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>
                            <p>Ori and the blind forest</p>
                        </caption>
                    </div>
                </div>
                <button class="section--next-btn" type="button" id="rec-next--btn"></button>
                <a href="#" class="link--all">Go to all the recommendation games</a>
            </section>
            <!-- recommendation slide end -->
            <!-- rating slide start -->
            <section id="rating-slide">
                <h2 class="section__title">Rating</h2>
                <button class="section--prev-btn" type="button" id="rating-prev--btn"></button>
                <div class="rating-slide__box">
                    <div class="rating-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        </a>
                        <div class="rating-slide__card__content">
                            <i class="rating-star">
                                <img src="../../../resources/images/icon/Star-icon.png" alt="start-icon">
                                <span>9.7</span>
                            </i>
                            <p>Ori and the blind forest</p>
                            <a href="#" class="rating-arrow">
                                <i>
                                    <img src="../../../resources/images/icon/link-white.png" alt="link-icon">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="rating-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        </a>
                        <div class="rating-slide__card__content">
                            <i class="rating-star">
                                <img src="../../../resources/images/icon/Star-icon.png" alt="start-icon">
                                <span>9.7</span>
                            </i>
                            <p>Ori and the blind forest</p>
                            <a href="#" class="rating-arrow">
                                <i>
                                    <img src="../../../resources/images/icon/link-white.png" alt="link-icon">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="rating-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        </a>
                        <div class="rating-slide__card__content">
                            <i class="rating-star">
                                <img src="../../../resources/images/icon/Star-icon.png" alt="start-icon">
                                <span>9.7</span>
                            </i>
                            <p>Ori and the blind forest</p>
                            <a href="#" class="rating-arrow">
                                <i>
                                    <img src="../../../resources/images/icon/link-white.png" alt="link-icon">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <button class="section--next-btn" type="button" id="rating-next--btn"></button>
                <a href="#" class="link--all">Go to all the rating games</a>
            </section>
            <!-- rating slide end -->
        </div>
    </main>
    <!-- footer start -->
    <footer id="footer">
        <div class="footer-wrap">
            <ul class="fnb">
                <li>
                    <a href="#">
                        <i>
                            <img src="../../../resources/images/icon/instagram-white-ico.png" alt="instagram-icon">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>
                            <img src="../../../resources/images/icon/facebook-white-ico.png" alt="facebook-icon">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>
                            <img src="../../../resources/images/icon/mail-white-ico.png" alt="mail-icon">
                        </i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>
                            <img src="../../../resources/images/icon/github-white-ico.png" alt="github-icon">
                        </i>
                    </a>
                </li>
            </ul>
            <p>&copy; 2020 by maru & dolphinman reserved</p>
        </div>
    </footer>
    <!-- footer end -->
</body>
</html>