<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaruLatte</title>
    <link rel="stylesheet" href="../../../resources/stylesheet/style.css">
</head>
<body>
    <!-- header start -->
    <header id="header">
        <div class="header-wrap">
            <h1 class="logo">
                <a href="#">
                    <img src="../../../resources/images/main/logo.png" alt="marulatte-logo">
                </a>
            </h1>
            <button type="button" class="menu--btn">menu</button>
            
            <!-- search form -->
            <form action="#" method="GET" id="search-form">
                <label for="search-input" class="hd">search</label>
                <input id="search-input" type="text" placeholder="Search Game">
            </form>
            
            <!-- 로그인한 사용자 인사 코멘트-->
            <p>Mr.Maru Hello!</p>

            <!-- 로그인 유저 Logout, 비로그인 유저 Login 출력 -->
            <span>Logout</span>
        </div>
    </header>
    <!-- header end -->
    <main id="main">

    </main>
    <footer id="footer">
        
    </footer>
</body>
</html>