<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaruLatte</title>
    <link rel="stylesheet" href="../../../resources/stylesheet/style.css">
</head>
<body>
    <!-- header start -->
    <header id="header">
        <div class="header-wrap">
            <h1 class="logo">
                <a href="./index.html">
                    <img src="../../../resources/images/main/logo.png" alt="marulatte-logo">
                </a>
            </h1>
            <button type="button" class="menu--btn">menu</button>
            
            <!-- search form -->
            <form action="#" method="GET" id="search-form">
                <label for="search-input" class="hd">search</label>
                <input id="search-input" type="text" placeholder="Search Game">
            </form>
            
            <!-- 로그인한 사용자 인사 코멘트-->
            <p>Maru Hello</p>

            <!-- 로그인 유저 Logout, 비로그인 유저 Login 출력 -->
            <button type="button" id="login-btn">LogOut</button>
        </div>
    </header>
    <!-- header end -->
    <main id="main">
        <div class="main-wrap">
            <!-- main slide start -->
            <section id="slide">
                <a href="#"class="slide-main-img">
                    <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                </a>
                <div class="slide-r">
                    <h2>Up Next</h2>
                    <div class="slide__box">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                        <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">
                    </div>
                    <a href="#">All Game</a>
                </div>
            </section>
            <!-- main slide end -->
            <!-- recommendation slide start -->
            <section id="rec-slide">
                <h2>Recommendation</h2>
                <button class="rec-slide--prev-btn"></button>
                <div class="rec-slide__box">
                    <!-- rec slide card -->
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>Ori and the blind forest</caption>
                    </div>
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>Ori and the blind forest</caption>
                    </div>
                    <div class="rec-slide__card">
                        <a href="#">
                            <img src="../../../resources/images/common/Ori-and-the-Blind-Forest 1.png" alt="ori-and-the-blind-forest-img">                            
                        </a>
                        <caption>Ori and the blind forest</caption>
                    </div>
                </div>
                <button class="rec-slide--next-btn"></button>
                <a href="#" class="link--all">Go to all the recommendation games</a>
            </section>
            <!-- recommendation slide end -->
        </div>
    </main>
    <footer id="footer">
        
    </footer>
</body>
</html>