/* web fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset  css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
body{
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}
button{
    cursor: pointer;
}
button, input{
    background: none;
    border: none;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
button:focus, input:focus{
    outline: none;
}
form{
    position: relative;
}
.hd{
    position: absolute;
    left: 1px;
    overflow: hidden;
    visibility: hidden;
}
.link--all{
    background-color: #F5C518;
    color: #000;
    width: 450px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: -25%;
    transform: translateX(-50%);
    line-height: 19px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
#header{
    background-color: #121212;
    width: 100vw;
    height: 100px;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
}
#header .header-wrap{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    align-items: center;
}
#header .logo{
    text-transform: uppercase;
    grid-column: 1/3 ;
}
#header .logo img{
    width: 100%;
}
.menu--btn{
    grid-column: 3/4;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#search-form{
    grid-column:4/10;
}
#search-form input{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    color: #000;
}
#header p{
    grid-column: 10/12;
    letter-spacing: 0.1em;
    font-size: 13px;
    text-align: center;
}
#header #login-btn{
    grid-column: 12/13;
    letter-spacing: 0.1em;
    font-size: 13px;
    text-align: center;
}

/* main */
#main{
    width: 100vw;
    height: auto;
    position: relative;
    top: 100px;
    margin: 25px 0;
}
.main-wrap{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    align-items: center;
}
#slide{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
}
#slide .slide-main-img{
    grid-column: 1/10;
}
#slide .slide-r{
    grid-column: 10/13;
}
#slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
#slide .slide-r h2{
    color: #F5C518;
    font-size: 16px;
    letter-spacing: 0.1em;
}
#slide .slide__box{
    background: linear-gradient(180deg, #111111 50%, #000000 100%);
    padding: 15px 40px;
    margin: 20px 0;
}
#slide .slide__box img{
    margin-bottom: 10px;
}
#slide .slide__box img:last-child{
    margin: 0;
}

/* recommendation slide */
#rec-slide{
    grid-column: 1/13;
    background-color: #121212;
    padding: 20px 10px;
    position: relative;
}
#rec-slide h2{
    color: #F5C518;
    font-size: 22px;
    grid-column: 1/13;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
#rec-slide .rec-slide__box{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
}
#rec-slide .rec-slide__card:nth-child(1){
    grid-column: 1/5;
}
#rec-slide .rec-slide__card:nth-child(2){
    grid-column: 5/9;
}
#rec-slide .rec-slide__card:nth-child(3){
    grid-column: 9/13;
}
#rec-slide .rec-slide__card{
    font-size: 14px;
    text-align: center;
    color: #bbb;
}
#rec-slide .rec-slide__card img{
    width: 100%;
}
.rec-slide--prev-btn, .rec-slide--next-btn{
    width: 70px;
    height: 100px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
}
.rec-slide--prev-btn::before, .rec-slide--next-btn::before{
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: url("../../resources/images/icon/arrow-white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}
.rec-slide--prev-btn{
    top: 50%;
    left: -35px;
    transform: rotate(180deg) translateY(50%);
}
.rec-slide--next-btn{
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}